.App {
  padding-top: 72px;
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .App {
    padding-top: 112px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 420px) {
  .App {
    padding-top: 124px;
  }
}
